<div class="container-fluid ml---5 padd-right--0 pd--left-4" style="background-color: #222222;">
  <!-- padd-right--0 -->
        
  <div class="row footer-col-2 pt-3">

              <div class="col-md-6 col-sm-6 col-6  pt-3 pd-left-1">
                    <!-- <ul style="list-style: none;">
                      <li> -->
                        <div class="pl--32 pl---0 paddleft--5">
                            <h4 class="text-white mb--16 font--20"><b>HandCraft</b></h4>
                     

                            <span class="footer-text pt-3">lorum ipsum</span>
                        </div>

                      <!-- </li>
                    </ul> -->


                    <ul style="list-style: none;" class="pt-4 pl---0 paddleft--5 ">
                                                 <div>
                                                    <h4 class="text-white font--20"><b>Contact</b></h4>
                                                  </div>
                                            
                                                <li class="pt-3 footer-text">
                                                                <span style="display: flex;"><i class="material-icons mr-3 mr--right--8" style="font-size:20px">location_on</i><h6 class="font-12">Chicago, US
                                                                </h6></span>
                                                
                                                </li>
                                                <li class="footer-text">
                                                    
                                                          <span style="display: flex;" >   <i class="fa fa-phone mr-3 pt-2 mr--right--8" style="font-size:20px"></i><h6 class="pd-l-8 pt-2 font-12" style="padding-left: 3px; ">
                                                              1515151515
                                                          </h6></span>
                                                </li>
                                                
                                                <li class="footer-text">
                                                          <span style="display: flex;"><i class="material-icons mr-3 mr--right--8 pt-2" style="font-size:20px">email</i><h6 class="pt-2 font-12 font-12">
                                                          myemail@something.com
                                                      
                                        </h6></span>
                              </li>


                 </ul>


            </div>

            <div class="col-md-6 col-6 col-sm-6 pr-0 pt-3 pd-left-1 ">
              <!-- <ul style="list-style: none;" class="mt-5">
                      <li> -->
                        <div style="padding-left: 40px;">
                          <h4 class="text-white font--20"><b>Follow Us</b></h4>
                        </div>
                      <!-- </li>
                </ul> -->

                    <div style="padding-left: 38px;" class="d-flex pt-3">
                                <i class="fa fa-facebook text-white pr-3" style="font-size:24px"></i>

                        
                        
                                 <i class="fa fa-twitter text-white pr-3" style="font-size:24px"></i>
                          
                       
                                <i class="fa fa-google-plus text-white pr-3" style="font-size:24px"></i>
                         
                         
                                <!-- <i class="fa 	fa fa-linkedin text-white pr-3" style="font-size:24px"></i> -->

                              </div>     
                           
                  <!-- </ul> -->



                <ul style="list-style: none;" class="pt-4">
                  <li class="" >
                    <h4 class="text-white font--20" style="margin-top: -8px;"><b> Quick Links</b></h4>   
                </li>

                <li class="pt-2 font-12">
                  <h6 class="footer-text font-12">About</h6>
                </li>
                <li class="pt-2 font-12">
                  <h6 class="footer-text font-12">Service</h6>
              </li>
              <li class="pt-2 font-12">
                <h6 class="footer-text font-12">Return Policy</h6>
            </li>
            <li class="pt-2 font-12">
                  <h6 class="footer-text font-12">Offers</h6>
                </li>
                <li class="pt-2 font-12">
                  <h6 class="footer-text font-12">Support</h6>
              </li>


</ul>
            </div>


  </div>


  
<div class="row">
<div class="col-md-12 col-sm-12 col-12 text-center">
<span class="footer-text font--12">All rights reserved @ 2018 HandCraft</span>

</div>

</div>



</div>