<!-- <div id="mySidenav" class="sidenav pt-2">  -->
  <!-- <button class="meader-menu">
  <a class="closebtn" (click)="closeNav()">&times;</a>
</button> -->





<div id="myNav" class="overlay-head">

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6 col-xl-6">  
         <!-- <a class="nav-link text-dark" href="#"><i class="material-icons" style="font-size:30px" onclick="openNav()">menu</i></a> --> 
        
  
         <!-- <button type="button" class="btn text-white add-to-cart mb-4 pr-0 pl-0 text-center font-18" ><i class="material-icons align-top mr-2">menu</i>Menu</button>  -->
  
         <button class="meader-menu text-left">
          
          <a class="closebtn" (click)="closeNav()">&times; </a>
       
          
        
        </button>
  
    
      </div> 
      <div class="col-md-6 col-sm-6 col-6 col-xl-6 text-right"> 
      
              <button type="button" class="btn text-white add-to-cart mb-4 pr-0 font-18 text-right shadow-none" ><i class="fa fa-shopping-cart mr-2 "></i>Cart</button>
      
      </div> 
    </div>
  
  </div>
  <form class="example mr-3 ml-3 mb-3 border" >
    <input type="text" class="forn-input border-0 " placeholder="Search.." style="background:#A64534 !important;outline: none;" name="search2">
    <button type="button" class="form-sear border-0 text-right" style="background:#A64534 !important;outline: none;"><i class="fa fa-search" ></i></button>
  </form>
    <a [routerLink] = "['/']" (click)="closeNav()" class="font-16 border-top border-bottom text-white text-center">HOME</a>
    <a [routerLink] = "['/catalogue']" (click)="closeNav()" class="font-16 text-white text-center">SUIT SET</a>
  
  
    <a [routerLink] = "['/catalogue']" (click)="closeNav()" class="font-16 border-top border-bottom text-white text-center">NEW ARRIVALS</a>
  
    <a [routerLink] = "['/catalogue']" (click)="closeNav()" class="font-16 border-top border-bottom text-white text-center">DRESS</a>
  
  
  
    <a [routerLink] = "['/catalogue']" (click)="closeNav()" class="font-16 border-top border-bottom text-white text-center">CATALOGUE</a>
    <a [routerLink] = "['/product']" (click)="closeNav()" class="font-16 border-top border-bottom text-white text-center">PRODUCT</a>
    <a [routerLink] = "['/contact']" (click)="closeNav()" class="font-16 border-top border-bottom text-white text-center">CONTACT US</a>
  
    <a [routerLink] = "['/contact']" (click)="closeNav()" class="font-16 border-top border-bottom text-white text-center">SIGN IN</a>
  
    <a [routerLink] = "['/contact']" (click)="closeNav()" class="font-16 border-top border-bottom text-white text-center">CREATE AN ACCOUNT</a> 
  
  
    
</div>



<!-- g 

<form class="example mr-3 ml-3 mb-3 border"  style="margin:auto;max-width:300px">
  <input type="text" class="forn-input border-0 " placeholder="Search.." style="background:#A64534 !important;" name="search2">
  <button type="submit" class="form-sear border-0" style="background:#A64534 !important;"><i class="fa fa-search" ></i></button>
</form>
  <a [routerLink] = "['/']" (click)="closeNav()" class="font-16 border-top border-bottom">HOME</a>
  <a [routerLink] = "['/catalogue']" (click)="closeNav()" class="font-16">SUIT SET</a>


  <a [routerLink] = "['/catalogue']" (click)="closeNav()" class="font-16 border-top border-bottom">NEW ARRIVALS</a>

  <a [routerLink] = "['/catalogue']" (click)="closeNav()" class="font-16 border-top border-bottom">DRESS</a>



  <a [routerLink] = "['/catalogue']" (click)="closeNav()" class="font-16 border-top border-bottom">CATALOGUE</a>
  <a [routerLink] = "['/product']" (click)="closeNav()" class="font-16 border-top border-bottom">PRODUCT</a>
  <a [routerLink] = "['/contact']" (click)="closeNav()" class="font-16 border-top border-bottom">CONTACT US</a>

  <a [routerLink] = "['/contact']" (click)="closeNav()" class="font-16 border-top border-bottom">SIGN IN</a>

  <a [routerLink] = "['/contact']" (click)="closeNav()" class="font-16 border-top border-bottom">CREATE AN ACCOUNT</a> -->


  

<!-- </div> -->
<header>
  <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-4 col-sm-4 col-4 pt-2">
          <button class="header-btn">
        <h3 class="pl-0 " style="padding-top: 4px;" (click)="navigateToHome()"><i><b>HandCraft</b></i></h3>
      </button> 
      </div>
        <div class="col-md-8 col-sm-8 col-8 pr-0 pt-2">
          <ul class="nav justify-content-end">
            <!-- <li class="nav-item">
              <button class="meader-menu">

              <a class="nav-link text-dark" ><i class='fa fa-search' style='font-size:24px'></i></a>
            </button>
            </li>
            <li class="nav-item">
              <button class="meader-menu">

              <a class="nav-link text-dark" ><i class="fa fa-shopping-bag" style="font-size:24px"></i></a>
           </button>
            </li> -->
            <li class="nav-item">
              <button class="meader-menu">
              <a class="nav-link text-dark" ><i class="material-icons" style="font-size:30px" (click)="openNav()">menu</i></a>
            </button>
            </li>
        
          </ul>
        </div>
      
      </div>
    </div>

</header>


<!-- <script>


  

  
  
    </script> -->