<div style="overflow-x: hidden;">
    <!-- header -->
    
    <app-header></app-header>

    <hr class="mt-0">


    <div class="container mb-3">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6 col-12  pl---0 pr---0 right-auto">
                <div class="border-img">
                    <div>

                        <img src="./assets/images/home/product5.jpg" style="
                         width: 100%;" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-6 col-12 mr--top--15 mr--left--15    mr---2 border-img right-auto">
                <div class="mt-5">

                    <ul style="list-style: none;" class="">
                        <li>
                            <h4>EXCLUSIVE ON UNICRAFT</h4>
                        </li>
                        <li class="text-black-50">
                            Anne Klein Sleeveless Colorblock Scuba
                        </li>


                    </ul>
                  
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <app-footer></app-footer>