.border-img{
    border: 1px solid #dae0e5;
}

.final-price{
    font-size: 30px;
    max-width: 112px;
    border: none;
    outline: none;
}

.new_corner{
    background-color: red;
    position: relative;
    left: -15px;
    max-width: 48px;
    font-size: 16px;
    padding: 6px;
    color: white;
    padding-left: 6px;
}


.quality_number{
    max-width: 50px;
    text-align: center;
    padding-left: 14px;
}

.fb-color{
    color:#355599;

}

.but-border{
    border:1px solid #6c757d54;
}

.ft-weight{
    font-weight: bold !important;
}

.price-font{
    margin-top: -4px;
    font-size: 28px;
}

.nav-color.active{
background-color:#FE980F !important;
border-radius:0px  !important;
}

.padd-right--15{
    padding-right: 15px;
}